.places {
    display: flex;
    flex-wrap: wrap;
	margin-top: 40px auto;
}

.places-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 10px 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    flex-direction: row;
    flex: none;
    
    
}

.places h1 {
    font-size: 30px;
    text-align: left;
    padding-left: 20px;
}

.places .header {
    position: relative;
    flex-direction: row;
    display: flex;
    height: 80px;
    width: 100%;
}

article h2 {
    font-size: 30px;
    padding: 0;
    margin: 10px auto;
}

.price_by_night {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    position:absolute;
    color: #FF5A5F;
    border: 3px solid #FF5A5F;
    border-radius: 100%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    right: 0;
    
}

.places .information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.max_guest,
.number_rooms,
.number_bathrooms {
    width: 100px;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

.places .user {
    margin: 5px 0;
    text-align: left;
}

.places .description {
    margin-top: 10px;
    text-align: left;
}

.guest_favicon,
.bed_favicon,
.bath_favicon {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.guest_favicon {
    background-image: url(../images/guest_favicon.png);
}

.bed_favicon {
    background-image: url(../images/bed_favicon.png);
}

.bath_favicon {
    background-image: url(../images/bath_favicon.png);
}